.lottery {
  .ch_chart {
    .ch_num_box {
      .text-align {
        font-size: 0;
        text-align: center;
      }
      .ch_num_show {

        li {
          &.TMBT {
            button {
              width: 1.8rem;
            }
          }
          .ba-red,button.on.ba-red {
            background: red;
            color: #fff;
          }
          .ba-green,button.on.ba-green {
            background: green;
            color: #fff;
          }
          .ba-blue,button.on.ba-blue {
            background: blue;
            color: #fff;
          }
          .red {
            color: red;
          }
          .green {
            color: green;
          }
          .blue {
            color: blue;
          }

        }
      }
    }

  }

}