.Pass_Indent{
  width: 100%;
  .table-head{
    position: absolute;
    top: 1rem;
    width: 10.0rem;
    bottom:0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  span {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #000;
  }
  .table-body1{
    white-space: nowrap;
    margin-top: 2rem;
    li{
      height: 1.8rem;
      font-size: 0.4rem;
      background: #fff;
      color: #303030;
      white-space: normal;
      word-wrap: break-word;
      word-break: normal;
      span{
        display: block;
        float: left;
        width: 25%;
        text-align: center;
        line-height: 0.8rem;
        font-size: 0.4rem;
        color: #000;
      }
    }
    .win {
      color: #d22018;
    }
  }
}
.pickUpDate{
  .am-list-item{
    z-index:25;
    position:fixed;
    left:7.5rem;
    top:0.17rem;
    height:0.7rem;
    width:2.1rem;
    min-height:1px!important;
    background-color:rgb(164,0,0);
    border-radius:4px;
    .am-list-line{
      padding-right:0.1rem;
      .am-list-content{
        color:#fff;
        font-size:0.3rem;
        padding-top:0.159375rem;
        padding-bottom:0.159375rem;
      }
      .am-list-extra{
        display:none;
      }
      .am-list-arrow{
        display:none;
      }
    }
  }
}
.data2_block23{
  height:13rem;
  position: absolute;
  top: 2rem;
  text-align: center;
  p{
    width:10rem;
    height: 8rem;
  }
  h2{
    margin-top: 1rem;
  }
  span{
    font-size: 0.4rem;
    color: #FF6100;
  }
  a{
    display: inline-block;
    text-align: center;
    line-height: 0.8rem;
    width: 3rem;
    margin-top: 0.5rem;
    font-size: 0.4rem;
    background: #FF6100;
    color: #fff;
    height: 0.8rem;
    border: none;
  }
}