.wallet {
  background: #f2f2f2;
  position: relative;
  top: 1rem;

  .blance {
    position: relative;
    background: #a40000;
    color: #fff;
    font-size: 0.4rem;
    height: 1.5rem;
    line-height: 1.5rem;
    padding-left: 0.3rem;
    .bigsize {
      font-size: 0.4rem;
    }
  }

  .change {
    ul {
      li {
        background: #fff;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.4rem;
        margin-bottom: 0.05rem;

        a {
          color: #000;

          i {
            height: 0.65rem;
            width: 0.5rem;
            display: inline-block;
            margin-top: 0.4rem;
          }

          span {
            padding-right: 4.3rem;
            padding-left: 0.2rem;
          }
        }

        .lt-inegame {
          margin-left: 0.5rem;
          width: 1rem;
          height: 0.9rem;
        }
        .lt-outegame {
          margin-left: 0.5rem;
          width: 1rem;
          height: 0.9rem;
        }
      }
    }
  }
}
.walletNot{
  display: none;
}